HOST_UID=1000
HOST_GID=1000
TZ=Asia/Tokyo

SAZANAMI_IMAGE=ghcr.io/g0ooo0gle/sazanami-dvr:v0.3.0
KONOMITV_IMAGE=sazanami-konomitv:v0.14.1-0a321882
KONOMITV_BUILD_CONTEXT=https://github.com/tsukumijima/KonomiTV.git#0a32188274b81c1e7bed642474b208bd2a543a6b

MIRAKURUN_URL=http://127.0.0.1:40772

SAZANAMI_DATA_DIR=./data/sazanami
RECORDING_DIR=./recordings
KONOMITV_CONFIG_FILE=./config/konomitv.yaml
KONOMITV_DATA_DIR=./data/konomitv
KONOMITV_LOG_DIR=./logs/konomitv
CAPTURE_DIR=./captures
